button {
    background-color: black;
    width: 100px;
    height: 50px;
}

h1 {
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

a {
    color: white;
    text-decoration: none;
}