button {
    background-color: black;
    width: 100px;
    height: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}